
.heading{
  align-items: center; /* This centers the content horizontally */
  justify-content: center; /* This centers the content vertically */
  text-align: center;
}
.back{
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* This centers the content horizontally */
  justify-content: flex-start; /* This centers the content vertically */
  text-align: center;
  width: 100%;
}

.tutorial {
    display: flex; 
    width: 50%;
    /* flex-wrap: wrap; */
    /* width: 50%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 370px;
  }
  
  .container2 {
    background-image: url("https://i.pinimg.com/736x/20/a8/5b/20a85bbc090728d5056e86a13119a714.jpg"); 
    /* background-image: url("FITNESSFRONTEND_HANDLEADMIN\FitnessTrackingFrontend\src\pages\calculator\images1\bg.jpg"); */
    background-color: rgba(255, 255, 255, 0.1);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 2px solid #ADD8E6;
    border-radius:20px;
    transition: transform .3s;
  }
  .container2:hover{
    transform: scale(1.2);
    box-shadow: #ADD8E6;
  }
  
  .image {
    width: 230px;
    height: 150px;
    object-fit: cover;
    border-radius:20px;
    
  }
  
  h2 {
    margin-top: 10px;
    
  }
  
  button {
    margin-top: 10px;

    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .buttons{
    margin-bottom: 10px;
    padding: 10px 20px;
  }
  