

.timer-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: 220px;
}

.circle-progress {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 10px;
  border: 10px solid #000;
  background-color: #ccc; /* Background color of the circle */
  overflow: hidden;
}

.circle {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(
    #3498db 0%,
    #3498db calc((100% - 1deg) * (1 - time / duration)),
    #fff calc((100% - 1deg) * (1 - time / duration)),
    #fff 100%
    /* #f00 0%,
    #f00 calc((100% - 1deg) * (1 - time / duration)),
    #ccc calc((100% - 1deg) * (1 - time / duration)),
    #ccc 100% */
  );
}

.time-display {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

button:active {
  transform: translateY(2px);
}

.close-button {
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #c0392b;
}

  
  