/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #f5f5f5;
    color: black;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}
section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  } */

.heading{
  align-items: center; /* This centers the content horizontally */
  justify-content: center; /* This centers the content vertically */
  
  text-align: center;
}
.back-to-tutorial{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
}

  .tutorial1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 2px solid #ADD8E6;
    border-radius:20px;
    transition: transform .3s;
  }
  .container1:hover{
    transform: scale(1.2);
    box-shadow: #ADD8E6;
  }
 
  .image {
    width: 230px;
    height: 150px;
    object-fit: cover;
    border-radius:20px;
    
  }
  
  h2 {
    margin-top: 10px;
    
  }
  .back{
    
    align-items: center; /* This centers the content horizontally */
    justify-content: center; /* This centers the content vertically */
    
    text-align: center;
    
  }
  
  button {
    margin-top: 10px;
   

    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .buttons{
    margin-bottom: 10px;
    padding: 10px 20px;
  }
  