
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.btn-buttons {
  background-color: #393E46;
  border: 2px solid black;
  border-radius: 1.5rem;
  box-shadow: #fbf8f8 0.5px 0.5px 0 0;
  color: rgb(242, 240, 240);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
}

.btn-buttons:hover {
  background-color: #6D9886;
  color: rgb(11, 10, 10);
  border: 1px solid black;
}


table {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  td.multiline-cell {
    white-space: normal;
    word-break: break-word;
  }
  
  .style-rows{
    border-bottom: 1px solid white;
    background-color: rgba(102, 120, 236, 0.605);
  }

  .style-data{
    background-color: #ffff;
    color: black;
  }

  .actions{
    display: flex;
    position: relative;
    gap: 0.5rem;
  }
  

  .goals-container{
    background-color: #8AC6D1;
  }

  .goals-card{
    background-color: #EADCA6;
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-radius: 4rem;
    box-shadow: 19px -19px 23px -22px #0D2464,
25px 0px 20px -20px #0D2464,
0px 25px 20px -20px #0D2464,
-25px 0px 20px -20px #0D2464
  }

  .goals-styles{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
  }

  .add-goals{
    padding-top: 10px;
  }

  .goals-details {
    margin-left: 10px;
    margin-bottom: 5px;
  }
  
  .goals-details label {
    font-size: 20px;
    margin-bottom: 2px;
    margin-left: 10px;
  }

  .goals-details input[type="text"],
  .goals-details input[type="number"],
  .goals-details select[type="text"] {
    width: 100%;
    padding: 3px;
    font-size: 18px;
    border: 1.5px solid #0d0c0c;
    border-radius: 8px;
    box-sizing: border-box;
  }
  .goals-details input[type="text"]:focus,
  .goals-details input[type="number"]:focus{
    outline: none;
    border-color: #0e1515;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  